USE [GradingSystemDB]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 01/20/2014 18:48:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SEQUENCE]    Script Date: 01/20/2014 18:48:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SEQUENCE](
	[SEQ_NAME] [varchar](50) NOT NULL,
	[SEQ_COUNT] [numeric](28, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[SEQ_NAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COURSE]    Script Date: 01/20/2014 18:48:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COURSE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COURSE_CODE] [varchar](255) NULL,
	[COURSENAME] [varchar](255) NULL,
	[CREDIT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ADDRESS]    Script Date: 01/20/2014 18:48:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADDRESS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[STATE] [varchar](255) NULL,
	[STREET] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IUSER]    Script Date: 01/20/2014 18:48:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IUSER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DTYPE] [varchar](31) NULL,
	[FIRSTNAME] [varchar](255) NULL,
	[LASTNAME] [varchar](255) NULL,
	[PASSWORD] [varchar](255) NULL,
	[SECURITANSWER] [varchar](255) NULL,
	[SECURITYCODE] [int] NULL,
	[USERNAME] [varchar](255) NULL,
	[ADDRESS_ID] [int] NULL,
	[STAFFTITLE] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SECTION]    Script Date: 01/20/2014 18:48:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SECTION](
	[ID] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[DATETIME] [int] NULL,
	[SECTION_NAME] [varchar](255) NULL,
	[SP] [int] NULL,
	[COURSE_ID] [int] NULL,
	[FACULTY_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IUSER_ROLE]    Script Date: 01/20/2014 18:48:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IUSER_ROLE](
	[users_ID] [int] NOT NULL,
	[roles_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[users_ID] ASC,
	[roles_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SECTION_IUSER]    Script Date: 01/20/2014 18:48:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SECTION_IUSER](
	[Section_ID] [numeric](19, 0) NOT NULL,
	[students_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Section_ID] ASC,
	[students_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IUSER_SECTION]    Script Date: 01/20/2014 18:48:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IUSER_SECTION](
	[Faculty_ID] [int] NOT NULL,
	[sections_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Faculty_ID] ASC,
	[sections_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRADE]    Script Date: 01/20/2014 18:48:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRADE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GPA] [real] NULL,
	[SECTION_ID] [numeric](19, 0) NULL,
	[STUDENT_ID_ID] [int] NULL,
 CONSTRAINT [PK__GRADE__3214EC276FE99F9F] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVALUATION]    Script Date: 01/20/2014 18:48:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EVALUATION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[SECTION_ID] [numeric](19, 0) NULL,
	[STUDENT_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [EVALUATION_SECTION_ID]    Script Date: 01/20/2014 18:48:34 ******/
ALTER TABLE [dbo].[EVALUATION]  WITH CHECK ADD  CONSTRAINT [EVALUATION_SECTION_ID] FOREIGN KEY([SECTION_ID])
REFERENCES [dbo].[SECTION] ([ID])
GO
ALTER TABLE [dbo].[EVALUATION] CHECK CONSTRAINT [EVALUATION_SECTION_ID]
GO
/****** Object:  ForeignKey [EVALUATION_STUDENT_ID]    Script Date: 01/20/2014 18:48:34 ******/
ALTER TABLE [dbo].[EVALUATION]  WITH CHECK ADD  CONSTRAINT [EVALUATION_STUDENT_ID] FOREIGN KEY([STUDENT_ID])
REFERENCES [dbo].[IUSER] ([ID])
GO
ALTER TABLE [dbo].[EVALUATION] CHECK CONSTRAINT [EVALUATION_STUDENT_ID]
GO
/****** Object:  ForeignKey [FK_GRADE_SECTION_ID]    Script Date: 01/20/2014 18:48:34 ******/
ALTER TABLE [dbo].[GRADE]  WITH CHECK ADD  CONSTRAINT [FK_GRADE_SECTION_ID] FOREIGN KEY([SECTION_ID])
REFERENCES [dbo].[SECTION] ([ID])
GO
ALTER TABLE [dbo].[GRADE] CHECK CONSTRAINT [FK_GRADE_SECTION_ID]
GO
/****** Object:  ForeignKey [FK_GRADE_STUDENT_ID_ID]    Script Date: 01/20/2014 18:48:34 ******/
ALTER TABLE [dbo].[GRADE]  WITH CHECK ADD  CONSTRAINT [FK_GRADE_STUDENT_ID_ID] FOREIGN KEY([STUDENT_ID_ID])
REFERENCES [dbo].[IUSER] ([ID])
GO
ALTER TABLE [dbo].[GRADE] CHECK CONSTRAINT [FK_GRADE_STUDENT_ID_ID]
GO
/****** Object:  ForeignKey [FK_IUSER_ADDRESS_ID]    Script Date: 01/20/2014 18:48:34 ******/
ALTER TABLE [dbo].[IUSER]  WITH CHECK ADD  CONSTRAINT [FK_IUSER_ADDRESS_ID] FOREIGN KEY([ADDRESS_ID])
REFERENCES [dbo].[ADDRESS] ([ID])
GO
ALTER TABLE [dbo].[IUSER] CHECK CONSTRAINT [FK_IUSER_ADDRESS_ID]
GO
/****** Object:  ForeignKey [FK_IUSER_ROLE_roles_ID]    Script Date: 01/20/2014 18:48:34 ******/
ALTER TABLE [dbo].[IUSER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_IUSER_ROLE_roles_ID] FOREIGN KEY([roles_ID])
REFERENCES [dbo].[ROLE] ([ID])
GO
ALTER TABLE [dbo].[IUSER_ROLE] CHECK CONSTRAINT [FK_IUSER_ROLE_roles_ID]
GO
/****** Object:  ForeignKey [FK_IUSER_ROLE_users_ID]    Script Date: 01/20/2014 18:48:34 ******/
ALTER TABLE [dbo].[IUSER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_IUSER_ROLE_users_ID] FOREIGN KEY([users_ID])
REFERENCES [dbo].[IUSER] ([ID])
GO
ALTER TABLE [dbo].[IUSER_ROLE] CHECK CONSTRAINT [FK_IUSER_ROLE_users_ID]
GO
/****** Object:  ForeignKey [IUSERSECTIONFaculty_ID]    Script Date: 01/20/2014 18:48:34 ******/
ALTER TABLE [dbo].[IUSER_SECTION]  WITH CHECK ADD  CONSTRAINT [IUSERSECTIONFaculty_ID] FOREIGN KEY([Faculty_ID])
REFERENCES [dbo].[IUSER] ([ID])
GO
ALTER TABLE [dbo].[IUSER_SECTION] CHECK CONSTRAINT [IUSERSECTIONFaculty_ID]
GO
/****** Object:  ForeignKey [IUSERSECTIONsectionsID]    Script Date: 01/20/2014 18:48:34 ******/
ALTER TABLE [dbo].[IUSER_SECTION]  WITH CHECK ADD  CONSTRAINT [IUSERSECTIONsectionsID] FOREIGN KEY([sections_ID])
REFERENCES [dbo].[SECTION] ([ID])
GO
ALTER TABLE [dbo].[IUSER_SECTION] CHECK CONSTRAINT [IUSERSECTIONsectionsID]
GO
/****** Object:  ForeignKey [FK_SECTION_COURSE_ID]    Script Date: 01/20/2014 18:48:34 ******/
ALTER TABLE [dbo].[SECTION]  WITH CHECK ADD  CONSTRAINT [FK_SECTION_COURSE_ID] FOREIGN KEY([COURSE_ID])
REFERENCES [dbo].[COURSE] ([ID])
GO
ALTER TABLE [dbo].[SECTION] CHECK CONSTRAINT [FK_SECTION_COURSE_ID]
GO
/****** Object:  ForeignKey [FK_SECTION_FACULTY_ID]    Script Date: 01/20/2014 18:48:34 ******/
ALTER TABLE [dbo].[SECTION]  WITH CHECK ADD  CONSTRAINT [FK_SECTION_FACULTY_ID] FOREIGN KEY([FACULTY_ID])
REFERENCES [dbo].[IUSER] ([ID])
GO
ALTER TABLE [dbo].[SECTION] CHECK CONSTRAINT [FK_SECTION_FACULTY_ID]
GO
/****** Object:  ForeignKey [SECTIONIUSERSection_ID]    Script Date: 01/20/2014 18:48:34 ******/
ALTER TABLE [dbo].[SECTION_IUSER]  WITH CHECK ADD  CONSTRAINT [SECTIONIUSERSection_ID] FOREIGN KEY([Section_ID])
REFERENCES [dbo].[SECTION] ([ID])
GO
ALTER TABLE [dbo].[SECTION_IUSER] CHECK CONSTRAINT [SECTIONIUSERSection_ID]
GO
/****** Object:  ForeignKey [SECTIONIUSERstudentsID]    Script Date: 01/20/2014 18:48:34 ******/
ALTER TABLE [dbo].[SECTION_IUSER]  WITH CHECK ADD  CONSTRAINT [SECTIONIUSERstudentsID] FOREIGN KEY([students_ID])
REFERENCES [dbo].[IUSER] ([ID])
GO
ALTER TABLE [dbo].[SECTION_IUSER] CHECK CONSTRAINT [SECTIONIUSERstudentsID]
GO
